# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Python Distribution
build/
dist/
*.egg-info/

# Environment Variables
.env

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Cache
.pytest_cache/
.mypy_cache/
.cache/

# Coverage
.coverage
htmlcov/

# Temporary Files
*.tmp
*.bak

# Local Python configuration
.python-version
